@model HomeViewModel

<div class="container">
        <main role="main" class="pb-3">

          <body class="bg-light">
    
            <div class="container">
              <main>
                <div class="py-5 text-center">
                  <h2>Инструкция</h2>
                  <p class="lead">Ниже приведен пример формы, полностью созданной с использованием элементов управления формы Bootstrap. Каждая требуемая группа форм имеет состояние проверки, которое может быть вызвано попыткой отправить форму без ее заполнения.</p>
                </div>


                    
                        @for(int i = 1; i < 7; i++)
                        {
                                <h4>
                                    Уровень @i: 
                                </h4>

                                <div class="input-group">
                                <input type="text" name="str" id="str-@i" class="form-control" value="@Model.inputText.ElementAt(i - 1)" oninput="UpdateSearchList(@i)" onfocus="focusFunction(@i)" />
                                </div>

                                <div id="wordList-@i" style="display: none;">
                                    @Html.Partial("VerbsList", Model.allVerbs.ElementAt(i - 1))
                                </div>

                                <div id="wordList2-@i" style="display: none;">
                                    @Html.Partial("NounsList", Model.allNouns.ElementAt(i - 1))
                                </div>
                        }
                    
                    
              </main>
            
              <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2017–2021 Название компании</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Конфиденциальность</a></li>
                  <li class="list-inline-item"><a href="#">Условия</a></li>
                  <li class="list-inline-item"><a href="#">Поддержка</a></li>
                </ul>
              </footer>
            </div>
            
            
                <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            
                  <script src="form-validation.js" crossorigin="anonymous"></script>
              
            
            </body>

        </main>
    </div>


@section pageScripts {
    <script>
        function autoInput(str, i) {
            var paragraphValue = document.getElementById(str).innerText;
            var idStr = "str-" + i;
            document.getElementById(idStr).value = paragraphValue + ' ';

            UpdateSearchList(i);
        };

        function focusFunction(i) {
            var idStr = "str-" + i;
            var wordListDiv = "#wordList-" + i;
            var wordList2Div = "#wordList2-" + i;
            var inputText = document.getElementById(idStr).value;

            $(wordListDiv).show();
            $(wordList2Div).show();

            for (var index = 1; index <= 6; index++) {
                if (index !== i) {
                    blurFunction(index);
                }
            }
        };

        function blurFunction(i) {
            var idStr = "str-" + i;
            var wordListDiv = "#wordList-" + i;
            var wordList2Div = "#wordList2-" + i;
            var inputText = document.getElementById(idStr).value;

            $(wordListDiv).hide();
            $(wordList2Div).hide();
        };

        function UpdateSearchList(i) {
            var idStr = "str-" + i;
            var wordList = "#wordList-" + i;
            var inputText = document.getElementById(idStr).value;
            var words = inputText.trim().split(' ');

            if (words.length <= 1) {
                $.ajax({
                    url: '@Url.Action("GetVerb", "Home")',
                    type: 'POST',
                    dataType: 'html',
                    data: { 
                        str: inputText,
                        level: i
                    },
                    success: function (data) {
                        $(wordList).html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
                if (inputText.endsWith(' ')) {

                    UpdateNounSearchList(i);
                }
            } else {

                UpdateNounSearchList(i);
            }
        };

        function UpdateNounSearchList(i) {
            var idStr = "str-" + i;
            var wordList2 = "#wordList2-" + i;
            var inputText = document.getElementById(idStr).value;
            var words = inputText.trim().split(' ');

            if (words.length > 3) {
                return;
            }

            $.ajax({
                url: '@Url.Action("GetNoun", "Home")',
                type: 'POST',
                dataType: 'html',
                data: {
                    str: words[1]
                },
                success: function (data) {
                    $(wordList2).html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        };
    </script>
}